:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}
.container {
  margin: 100px 20px 100px;
  text-align: center;
  padding: 0 10px;
}
h1 {
  color: var(--Very-Dark-Magenta);
}
h2 {
  color: var(--Dark-Grayish-Magenta);
  font-weight: 500;
  font-size: 14px;
  margin: 30px 0;
}
.rating-box {
  background-color: var(--Light-Grayish-Magenta);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.stars-container img {
  margin: 0 4px;
}
.rating-box > p {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 14px;
  padding-top: 5px;
}
.testimonial {
  background-color: var(--Very-Dark-Magenta);
  border-radius: 10px;
  text-align: left;
  padding: 35px;
  margin: 25px 0;
}
.user-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.image-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-data {
  margin-left: 20px;
}

.user-data p:first-child {
  color: var(--White);
  font-weight: 700;
  font-size: 13px;
}
.user-data p:last-of-type {
  color: var(--Soft-Pink);
  font-size: 13px;
  margin-top: 5px;
}
.testimonial > p {
  color: var(--Light-Grayish-Magenta);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 15px;
}